<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

	<div id="app">

		<div v-for="(item, key, index) in num">
			{{item}}-{{key}}-{{index}}
		</div>
		<hr>

		<div v-for="(item, key, index) in str">
			{{item}}-{{key}}-{{index}}
		</div>
		<hr>

		<div v-for="(item, key, index) in obj">
			{{item}}-{{key}}-{{index}}
		</div>
		<hr>

		<div v-for="(item, key, index) in array">
			{{item}}-{{key}}-{{index}}
		</div>
		<hr>

		<template v-for="item in 2">
			{{item}}
		</template>
	</div>

	<script type="text/javascript">

		var vm = null;

		if(document.addEventListener){
			document.addEventListener('DOMContentLoaded', function(){
				document.removeEventListener('DOMContentLoaded', arguments.callee, false);
				intVue();
			})
		}

		function intVue(){
			vm = new Vue({
				el: '#app',
				data: {
					num: 4,
					str : '123',
					obj: {
						a:'aaa',
						b:'bbb'
					},
					array: ['m','n']
				},
				mounted () {

				},
				methods: {
					
				}
			})
		}
	</script>
</body>
</html>